:root {
  --primary-text-color: #757575;
  --secondary-text-color: #212121;
  --accent-color: #2196f3;
  --header-bg-color: #ffffff;
  --primary-bg-color: #f5f5f5;
  --secondary-bg-color: #f5f4fa;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

/* Body */
body {
  font-family: Roboto, sans-serif;
}

li {
  list-style: none;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.container {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  width: 1200px;
}

/* Header */
.header {
  display: flex;
  border-bottom: 1px solid #ececec;
}

.nav-header {
  display: flex;
  flex-direction: row;
  background-color: var(--header-bg-color);
}

.logo-span {
  color: var(--accent-color);
}

.logo {
  display: flex;
  margin-right: 93px;
  align-items: center;
  padding-top: 24px;
  padding-bottom: 25px;

  font-family: "Raleway", sans-serif;
  color: #000000;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.nav-list {
  display: flex;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  align-items: center;
}

.nav-item {
  margin-right: 50px;
}

.link-nav.current {
  color: var(--accent-color);
  transform: scale(1);
}

.link-nav.current::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-color);
  transform: scaleX(1);
  transition: transform 250ms var(--timing-function);
}

.link-nav:hover::after {
  transform: scaleX(1);
}

.nav-item:last-child {
  margin-right: 0;
}

.link-nav:hover,
.link-poc:hover,
.link-nav:focus,
.link-poc:focus {
  color: var(--accent-color);
}

.link-nav {
  display: block;
  padding: 32px 0;
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  position: relative;
  color: var(--secondary-text-color);

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.poc {
  display: flex;
  justify-content: flex-end;
  padding-left: 0;
  padding-top: 32px;
  padding-bottom: 32px;
  margin: 0;
  margin-left: auto;
  align-items: center;
}

.poc-item {
  margin-right: 30px;
}

.link-poc {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14px;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--primary-text-color);

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-envelope {
  width: 16px;
  height: 12px;
  margin-right: 10px;
  fill: currentColor;
}

.icon-smartphone {
  width: 10px;
  height: 16px;
  margin-right: 10px;
  fill: currentColor;
}

/* Main */

/* Герой */
.hero-container {
  margin-left: auto;
  margin-right: auto;
  padding-top: 200px;
  padding-bottom: 200px;
  max-width: 1600px;
  min-height: 600px;
  margin-right: auto;
  margin-left: auto;

  background: #2f303a;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/hero-bg-img.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.hero {
  text-align: center;
}

.hero-title {
  margin-top: 0;
  margin-bottom: 30px;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}

.hero-btn {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 32px;
  padding-right: 32px;
  min-width: max-content;

  align-items: center;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  color: #ffffff;
  background-color: var(--accent-color);
  cursor: pointer;

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-btn:hover,
.hero-btn:focus {
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgb(0 0 0 / 15%);
  border-radius: 4px;
}

.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  transition: opacity 250ms var(--timing-function),
    visibility 250ms var(--timing-function);
  z-index: 1;
}

.modal {
  padding: 40px;
  width: 528px;
  height: 581px;
  background-color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.icon-close {
  position: absolute;
  display: flex;
  align-items: center;
  width: 30px;
  height: 30px;
  cursor: pointer;
  top: 8px;
  right: 8px;
  border-radius: 50%;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
  background: var(--header-bg-color);
  border: 1px solid rgba(0, 0, 0, 0.1);

  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-close:focus,
.icon-close:hover {
  fill: var(--accent-color);
}

.request-call h2 {
  margin: 0;
  padding-bottom: 12px;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}

.form-name {
  position: relative;
  display: flex;
  flex-direction: column;
}

.form-name-label {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding-bottom: 4px;
  align-self: start;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--primary-text-color);
  cursor: pointer;
}

.form-name-input {
  display: flex;
  margin-top: 4px;
  margin-bottom: 10px;
  padding-left: 42px;
  width: 448px;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  cursor: pointer;
  outline: none;
}

.icon-man {
  position: absolute;
  top: 32px;
  left: 15px;
  width: 12px;
  height: 12px;
  cursor: pointer;
}

.form-name-input:focus ~ .icon-man {
  fill: var(--accent-color);

  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.form-name-input:focus {
  border: 1px solid var(--accent-color);

  transition-property: border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.form-tel {
  position: relative;
  display: flex;
  flex-direction: column;
}

.form-tel-label {
  display: flex;
  flex-wrap: wrap;
  align-self: start;
  margin: 0;
  margin-bottom: 4px;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--primary-text-color);
  cursor: pointer;
}

.form-tel-input {
  display: flex;
  margin-top: 4px;
  margin-bottom: 10px;
  padding-left: 42px;
  width: 448px;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  cursor: pointer;
  outline: none;
}

.icon-tube {
  position: absolute;
  top: 32px;
  left: 15px;
  width: 13px;
  height: 13px;
  cursor: pointer;
}

.form-tel-input:focus ~ .icon-tube {
  fill: var(--accent-color);

  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.form-tel-input:focus {
  border: 1px solid var(--accent-color);

  transition-property: border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.form-mail {
  position: relative;
  display: flex;
  flex-direction: column;
}

.form-mail-label {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  align-self: start;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--primary-text-color);
  cursor: pointer;
}

.form-mail-input {
  display: flex;
  margin-top: 4px;
  margin-bottom: 10px;
  padding-left: 42px;
  width: 448px;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  cursor: pointer;
  outline: none;
}

.icon-email {
  position: absolute;
  top: 32px;
  left: 15px;
  width: 15px;
  height: 12px;
  cursor: pointer;
}

.form-mail-input:focus ~ .icon-email {
  fill: var(--accent-color);

  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.form-mail-input:focus {
  border: 1px solid var(--accent-color);

  transition-property: border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.form-comment-label {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  align-self: start;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--primary-text-color);
  cursor: pointer;
}

.form-comment-textarea {
  display: flex;
  margin-top: 4px;
  margin-bottom: 20px;
  padding: 12px 16px;
  width: 448px;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
  cursor: pointer;
  outline: none;
}

.form-comment-textarea:focus {
  border: 1px solid var(--accent-color);

  transition-property: border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.form-checkbox {
  position: relative;
}
.form-checkbox-input {
  margin-bottom: 30px;
  cursor: pointer;
  visibility: hidden;
}

.form-checkbox-label {
  display: flex;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  margin-left: 37px;
  cursor: pointer;
}

.checkbox-icon {
  position: absolute;
  top: 4px;
  left: 12px;
  width: 16px;
  height: 15px;
  border: 2px solid var(--secondary-text-color);
  border-radius: 2px;

  transition-property: border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.form-checkbox-input:checked + .checkbox-icon {
  border-color: transparent;
  background-color: var(--accent-color);
  background-image: url(../images/chekbox.svg);
  background-size: contain;
  background-origin: border-box;
}

.agreement {
  color: var(--accent-color);
}

.modal-send-btn {
  width: 200px;
  height: 50px;
  background-color: #188ce8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  cursor: pointer;
  color: #ffffff;

  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

/* section advantages */

.advantages-list {
  display: flex;
  margin: 0;
  padding: 0;
  background-color: var(--header-bg-color);
}

.list-item {
  align-items: center;
  margin-right: 30px;
  width: 270px;
}

.advantages-list .list-item:last-child {
  margin-right: 0;
}

.advantages h3 {
  margin-top: 0;
  margin-bottom: 10px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--secondary-text-color);
}

.advantages p {
  margin: 0;
  font-size: 14px;
  line-height: 2;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.antenna {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  margin-right: 30px;
  width: 270px;
  height: 120px;
  border-radius: 4px;
  background-color: #f5f4fa;
}

.icon-antenna {
  width: 70px;
  height: 70px;
}

.clock {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  margin-right: 30px;
  width: 270px;
  height: 120px;
  border-radius: 4px;
  background-color: #f5f4fa;
}

.icon-clock {
  width: 70px;
  height: 70px;
}

.diagram {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  margin-right: 30px;
  width: 270px;
  height: 120px;
  border-radius: 4px;
  background-color: #f5f4fa;
}

.icon-diagram {
  width: 70px;
  height: 70px;
}

.astronaut {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  width: 270px;
  height: 120px;
  border-radius: 4px;
  background-color: #f5f4fa;
}

.icon-astronaut {
  width: 70px;
  height: 70px;
}

/* subsection projects */
.projects-section {
  padding-bottom: 94px;
}

.projects-container {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  width: 1200px;

  background-color: var(--header-bg-color);
}

.projects-list {
  position: relative;
  display: flex;
  margin: 0;
  padding: 0;
}

.projects-list .projects-item {
  margin-right: 30px;
  margin-top: 0;
}

.projects .projects-item:last-child {
  margin-right: 0;
}

.projects h2 {
  margin: 0;
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}

.project-box {
  position: absolute;
  bottom: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 370px;
  height: 70px;
  background: rgba(47, 48, 58, 0.8);
}
.project-text {
  margin: 0;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--header-bg-color);
}

/* Секція - Наша команда */
.cards-section {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: var(--secondary-bg-color);
}

.team-cards-container {
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

.team-cards {
  margin-top: 0;
  margin-left: 0;
}

.team-cards-list {
  display: flex;
  flex-direction: row;
  margin: 0;
  padding-left: 0;
}

.team-cards-list .cards-item {
  margin-right: 30px;
  margin-top: 0;
  margin-bottom: 0;
}

.team-cards .cards-item:last-child {
  margin-right: 0;
}

.cards-item {
  width: 270px;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  margin-bottom: 94px;
}

.cards-text {
  padding-top: 30px;
  padding-bottom: 30px;
}

.cards-text p {
  padding-bottom: 16px;
}

.team-cards h2 {
  margin-top: 0;
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}

.team-cards h3 {
  margin-top: 0;
  margin-bottom: 0;
  padding-bottom: 10px;
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;

  color: var(--secondary-text-color);
}

.team-cards p {
  margin: 0;
  text-align: center;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;

  color: var(--primary-text-color);
}

.websites {
  display: flex;
  justify-content: center;
  gap: 10px;
  padding-right: 0;
  padding-left: 0;
}

.websites-links {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border: none;
  border-radius: 50%;
  background-color: #ffffff;
  fill: #afb1b8;
  cursor: pointer;

  transition-property: background-color, fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.websites-links:hover,
.websites-links:focus {
  background-color: var(--accent-color);
  fill: #ffffff;
}

.icon-instagram {
  width: 20px;
  height: 20px;
}

.icon-twitter {
  width: 20px;
  height: 20px;
}

.icon-facebook {
  width: 20px;
  height: 20px;
  color: var(--primary-text-color);
}

.icon-linkedin {
  width: 20px;
  height: 20px;
}

/* Секція - Постійні клієнти */
.partners {
  margin-top: 0;
  margin-left: 0;
}

.partners h2 {
  margin-top: 0;
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}

.partners-list {
  display: flex;
  flex-direction: row;
  margin: 0;
  padding-left: 0;
  gap: 30px;
}

.icon-group {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  fill: #afb1b8;
  border-radius: 4px;
  cursor: pointer;

  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-group:hover,
.icon-group:focus {
  border-color: var(--accent-color);
  fill: var(--accent-color);
}

.icon-group-1 {
  width: 106px;
  height: 60px;
}

.icon-group-2 {
  width: 106px;
  height: 60px;
}

.icon-group-3 {
  width: 106px;
  height: 60px;
}

.icon-group-4 {
  width: 106px;
  height: 60px;
}

.icon-group-5 {
  width: 106px;
  height: 60px;
}

.icon-group-6 {
  width: 106px;
  height: 60px;
}

/* Footer */

.footer-section {
  display: flex;
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2f303a;
}

.bottom {
  display: flex;
  flex-direction: column;
}

.logo-bottom-span {
  color: var(--accent-color);
}

.logo-bottom {
  display: flex;
  margin-bottom: 20px;

  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.bottom > .logo-bottom {
  color: #ffffff;
}

.address p {
  margin-top: 0;
  margin-bottom: 0;
  padding-bottom: 9px;
  width: 231px;
  font-style: normal;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.address a {
  display: block;
  margin-top: 0;
  padding-bottom: 9px;
  font-size: 14px;
  font-style: normal;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.address a:last-child {
  padding-bottom: 0;
}

.address a:hover,
.address a:focus {
  color: var(--accent-color);
}

.links-footer {
  display: flex;
  flex-direction: column;
  margin-left: 70px;
  align-items: center;
}

.links-footer h3 {
  display: flex;
  margin-top: 12px;
  margin-bottom: 20px;
  align-self: start;
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  line-height: 1.14;
  text-align: left;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.websites-footer {
  display: flex;
  margin: 0;
  padding-left: 0;
  gap: 10px;
}

.websites-links-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border: none;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  fill: #ffffff;
  cursor: pointer;

  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.websites-links-footer:hover,
.websites-links-footer:focus {
  background-color: var(--accent-color);
  fill: #ffffff;
}

.form-subscribe {
  display: flex;
  flex-direction: column;
  justify-content: start;
  margin-left: 93px;
}

.label-subscribe {
  margin-top: 12px;
  margin-bottom: 20px;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--header-bg-color);
  cursor: pointer;
}

.input-subscribe {
  padding: 15px 16px;
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: #2f303a;
  color: #ffffff;
  cursor: pointer;
  outline: none;

  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.input-subscribe:focus {
  border: 1px solid var(--accent-color);
}

.subscribe-btn {
  display: flex;
  text-align: center;
  justify-content: center;
  margin-top: 48px;
  margin-left: 12px;
  padding-top: 10px;
  padding-right: 0;
  padding-bottom: 10px;
  padding-left: 0;
  width: 200px;
  height: 50px;
  background-color: var(--accent-color);
  border-radius: 4px;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: #ffffff;
  cursor: pointer;
  border: none;

  transition-property: color, background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-plane {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
  width: 24px;
  height: 24px;
  fill: #fff;
  cursor: pointer;
}

.subscribe-btn:hover,
.subscribe-btn:focus {
  color: #ffffff;
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

/* portfolio.html */

.container-filtr {
  margin-left: auto;
  margin-right: auto;
  padding-right: 12px;
  padding-left: 12px;
  width: 1200px;
}

.buttons {
  margin-bottom: 50px;
}

.buttons-list {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.buttons-list .buttons-item {
  margin-right: 8px;
}

.buttons-list .buttons-item:last-child {
  margin-right: 0;
}

.btn {
  margin: 0;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 22px;
  padding-right: 22px;
  min-width: max-content;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  background-color: #f5f4fa;
  color: var(--secondary-text-color);
  cursor: pointer;
  border-radius: 4px;
  border: none;

  transition-property: background-color, color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.btn:hover,
.btn:focus {
  color: #ffffff;
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* div filtr */
.filtr {
  display: flex;
  flex-wrap: wrap;
}

.portfolio-filtr {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.filtr-item:hover,
.filtr-item:focus {
  opacity: 1;
}

.filtr-item {
  position: relative;
  margin-right: 30px;
  margin-bottom: 30px;
  width: 370px;
  height: 404px;
  background-color: #fff;
  border: 1px solid #eeeeee;
  cursor: pointer;
  border-top: 0;
  overflow: hidden;
}

.image-box {
  display: flex;
  position: relative;
  overflow: hidden;
}

.image-item {
  display: block;
  max-width: 100%;
  height: auto;
}

.text-box {
  position: absolute;
  top: 0;
  right: 0;
  width: 370px;
  height: 294px;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition: transform 250ms var(--timing-function),
    opacity 250ms var(--timing-function);
  opacity: 0;
}

.text-box-item {
  display: flex;
  position: absolute;
  margin: 0;
  top: 63px;
  right: 24px;
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  color: #ffffff;
  width: 322px;
  height: 0;
}

.filtr-picture:hover .text-box,
.filtr-picture:focus .text-box {
  transform: translateY(0%);
  opacity: 1;
}

.filtr-item:hover,
.filtr-item:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.filtr-item:nth-child(3n) {
  margin-right: 0;
}

.filtr-item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.card-bottom {
  padding-left: 24px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.card-bottom-header {
  margin: 0;
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--secondary-text-color);
}

.card-bottom-text {
  margin: 0;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}
